.app-root
{
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: var(--app-background);
    box-shadow: 0 0 10px #000;

    & > .app-content {
        display: flex;
        width: 100%;
        height: 100%;
    }
}